{{> navbar}}
<br/>

<h1>{{title}}</h1>

        <div class="page-content">
            <div class="product-container">
                {{product.id}}<br/>
                {{product.title}}<br/>
                {{product.price}}<br/>
                <img src="{{product.thumbnail}}" class="product-img"/>
            </div>
        </div>


<br/>
{{> footer}}
<br/>